.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.text {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-on-surface);
}

@media (max-width: 640px) {
  .secondary {
    display: none;
  }
}

